@import 'variables/variables';
@import 'mixins/mixins';

.navbarContainer {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  margin: 5px;
  width: 20%;
  height: 100vh;
  box-sizing: border-box;

  .navbarContent {
    display: flex;
    align-items: center;
    margin: 10px;

    .titleNavStyle {
      padding-left: 50px;
      @include text($titleFontFamily, 20px, 600)
    }
  }

}
