
.settingContainer{
  display: flex;
  .settings{
    display: flex;
    flex-direction: column;
    .icon{
      margin:-50px 0 0 300px;
      cursor: pointer;

    }

  }
  .inputContainer{
    display: flex;
    margin-left: 100px;
    .inputBlock{
      margin: 10px;
      .input{
        width: 200px;
        height: 25px;
        border:none;
        border-radius: 5px;
        outline: none;
      }

    }
  }
}

.ava{
  padding: 20px;

}
