@import 'variables/variables';
@import 'mixins/mixins';
// стили для страницы user(одного пользователя)
.userPageContainer{
  width: 500px;
  background-color: red;
  .avatar{
    display: flex;
    justify-content: center;
  }
  .textStyle{

    @include text($titleFontFamily2,18px,500);
    padding-left: 180px;
  }
  .buttons{
    display: flex;
    justify-content:center;

  }
}
// стили для страницы users
.pagination{
  display: flex;
  justify-content: center;
  .pageNumber{
    padding: 5px;
  }
  .pageNumberActive{
    padding: 5px;
@include text($titleFontFamily2,16px,800)
  }
}

